.header-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(45deg,#8e9eab 0%, #eef2f3 50%);
	margin-bottom: 20px;
}

.site-title {
	margin-bottom: 5px;
}

.site-description {
	margin-bottom: 0;
}
